.register-container{
   
    width: 100%;
    max-width:400px;/* Adjust max-width as per your design */
    margin: 0 auto
}
.div1{
    /* max-width:10000px; */
    width: 100vw !important;
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;

background-color: #CDB0EE;
}
